/* about */
@media (max-width: 980px) {
    .section-about {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .section-about-left {
        display: grid;
        place-items: center;
    }

    .section-about-right p {
        text-align: center;
    }

    main {

        padding: 4.25rem 0;
    }
    .header{
        position: absolute;
    }
    .main-projects{
        grid-template-columns: repeat(1, 1fr);
    }
}