/* about */
@media (max-width: 980px) {
    .container-dark{
        max-width: 100%;
    }
    .section--big-title {
        font-size: 1.80rem;
    }

    .section-about {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .section-about-left,.section-contact {
        text-align: center;
        display: grid;
        place-items: center;
    }

    .section-about-right p {
        text-align: left;
    }

    main {

        padding: 4.25rem 0;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        border-radius: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-dark {
        /* margin-top: .5rem; */
        /* max-width: 968px; */
        width: 100%;
        padding: 3rem .58rem;
        border-radius: 1em;

    }

    .section-about-left img {
        width: 190px;
    }

    .main-projects1,
    .main-projects2 {
        height: 200px;
    }

    .section-about {
        margin-top: 2rem;
    }

    .filter {
        width: 312px;
        height: 220px;
    }

    .filter img {
        height: 100%;
    }
    .section-contact{
        flex-direction: column;
        gap: 30px;
    }
    .socials {
        justify-content: space-around;
      }

}